<header class="header_pc">
  <div class="container">
    <h1 class="logo">
      <a href="index.html"
        ><img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/logo_1.png" alt="Tropical Pork House Okinawa"
      /></a>
    </h1>
    <nav class="nav">
      <ul>
        <li><a href="about.html">Tropical Pork Houseについて</a></li>
        <li><a href="item-list.html">商品一覧</a></li>
        <li><a href="faq.html">よくあるご質問</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
      </ul>
    </nav>
    <ul class="nav_menu">
      <li>
        <a href="#"
          ><svg
            class="icon_svg"
            viewBox="0 0 23 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.6667 14.6666H15.6134L15.24 14.3066C16.0733 13.3386 16.6823 12.1983 17.0234 10.9675C17.3646 9.73657 17.4294 8.4455 17.2134 7.18663C16.5867 3.47997 13.4934 0.519966 9.76003 0.0666331C8.44751 -0.0994126 7.11441 0.0369952 5.86273 0.465418C4.61104 0.893841 3.47395 1.60292 2.53847 2.53841C1.60299 3.47389 0.893903 4.61098 0.465479 5.86267C0.0370563 7.11435 -0.0993515 8.44745 0.0666941 9.75997C0.520027 13.4933 3.48003 16.5866 7.18669 17.2133C8.44557 17.4294 9.73663 17.3645 10.9675 17.0234C12.1984 16.6822 13.3387 16.0732 14.3067 15.24L14.6667 15.6133V16.6666L20.3334 22.3333C20.88 22.88 21.7734 22.88 22.32 22.3333C22.8667 21.7866 22.8667 20.8933 22.32 20.3466L16.6667 14.6666ZM8.66669 14.6666C5.34669 14.6666 2.66669 11.9866 2.66669 8.66663C2.66669 5.34663 5.34669 2.66663 8.66669 2.66663C11.9867 2.66663 14.6667 5.34663 14.6667 8.66663C14.6667 11.9866 11.9867 14.6666 8.66669 14.6666Z"
            /></svg
        ></a>
      </li>
      <li>
        <a href="/account">
          <svg
            class="icon_svg"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.5 12.4846C15.9531 12.4846 18.75 9.69116 18.75 6.24229C18.75 2.79342 15.9531 0 12.5 0C9.04687 0 6.25 2.79342 6.25 6.24229C6.25 9.69116 9.04687 12.4846 12.5 12.4846ZM12.5 15.6057C8.32812 15.6057 0 17.6969 0 21.848V23.4086C0 24.2669 0.703125 24.9692 1.5625 24.9692H23.4375C24.2969 24.9692 25 24.2669 25 23.4086V21.848C25 17.6969 16.6719 15.6057 12.5 15.6057Z"
            />
          </svg>
        </a>
      </li>
      <li>
        <a href="/cart">
          <svg
            class="icon_svg"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.25 22.5C21.913 22.5 22.5489 22.7634 23.0178 23.2322C23.4866 23.7011 23.75 24.337 23.75 25C23.75 25.663 23.4866 26.2989 23.0178 26.7678C22.5489 27.2366 21.913 27.5 21.25 27.5C20.587 27.5 19.9511 27.2366 19.4822 26.7678C19.0134 26.2989 18.75 25.663 18.75 25C18.75 23.6125 19.8625 22.5 21.25 22.5ZM1.25 2.5H5.3375L6.5125 5H25C25.3315 5 25.6495 5.1317 25.8839 5.36612C26.1183 5.60054 26.25 5.91848 26.25 6.25C26.25 6.4625 26.1875 6.675 26.1 6.875L21.625 14.9625C21.2 15.725 20.375 16.25 19.4375 16.25H10.125L9 18.2875L8.9625 18.4375C8.9625 18.5204 8.99542 18.5999 9.05403 18.6585C9.11263 18.7171 9.19212 18.75 9.275 18.75H23.75V21.25H8.75C8.08696 21.25 7.45107 20.9866 6.98223 20.5178C6.51339 20.0489 6.25 19.413 6.25 18.75C6.25 18.3125 6.3625 17.9 6.55 17.55L8.25 14.4875L3.75 5H1.25V2.5ZM8.75 22.5C9.41304 22.5 10.0489 22.7634 10.5178 23.2322C10.9866 23.7011 11.25 24.337 11.25 25C11.25 25.663 10.9866 26.2989 10.5178 26.7678C10.0489 27.2366 9.41304 27.5 8.75 27.5C8.08696 27.5 7.45107 27.2366 6.98223 26.7678C6.51339 26.2989 6.25 25.663 6.25 25C6.25 23.6125 7.3625 22.5 8.75 22.5ZM20 13.75L23.475 7.5H7.675L10.625 13.75H20Z"
            /></svg
        ></a>
      </li>
    </ul>
  </div>
</header>
<!-- SP header -->
<div class="header_sp">
  <div class="inner">
    <h1>
      <a href="index.html"
        ><img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/logo_1.png" alt="Tropical Pork House Okinawa"
      /></a>
    </h1>
    <ul class="nav_fix_icon_sp">
      <li class="li">
        <a href="/account">
          <svg
            class="icon_svg"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.5 12.4846C15.9531 12.4846 18.75 9.69116 18.75 6.24229C18.75 2.79342 15.9531 0 12.5 0C9.04687 0 6.25 2.79342 6.25 6.24229C6.25 9.69116 9.04687 12.4846 12.5 12.4846ZM12.5 15.6057C8.32812 15.6057 0 17.6969 0 21.848V23.4086C0 24.2669 0.703125 24.9692 1.5625 24.9692H23.4375C24.2969 24.9692 25 24.2669 25 23.4086V21.848C25 17.6969 16.6719 15.6057 12.5 15.6057Z"
            />
          </svg>
          <p>ログイン</p>
        </a>
      </li>
      <li class="li">
        <a href="/cart">
          <svg
            class="icon_svg"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.25 22.5C21.913 22.5 22.5489 22.7634 23.0178 23.2322C23.4866 23.7011 23.75 24.337 23.75 25C23.75 25.663 23.4866 26.2989 23.0178 26.7678C22.5489 27.2366 21.913 27.5 21.25 27.5C20.587 27.5 19.9511 27.2366 19.4822 26.7678C19.0134 26.2989 18.75 25.663 18.75 25C18.75 23.6125 19.8625 22.5 21.25 22.5ZM1.25 2.5H5.3375L6.5125 5H25C25.3315 5 25.6495 5.1317 25.8839 5.36612C26.1183 5.60054 26.25 5.91848 26.25 6.25C26.25 6.4625 26.1875 6.675 26.1 6.875L21.625 14.9625C21.2 15.725 20.375 16.25 19.4375 16.25H10.125L9 18.2875L8.9625 18.4375C8.9625 18.5204 8.99542 18.5999 9.05403 18.6585C9.11263 18.7171 9.19212 18.75 9.275 18.75H23.75V21.25H8.75C8.08696 21.25 7.45107 20.9866 6.98223 20.5178C6.51339 20.0489 6.25 19.413 6.25 18.75C6.25 18.3125 6.3625 17.9 6.55 17.55L8.25 14.4875L3.75 5H1.25V2.5ZM8.75 22.5C9.41304 22.5 10.0489 22.7634 10.5178 23.2322C10.9866 23.7011 11.25 24.337 11.25 25C11.25 25.663 10.9866 26.2989 10.5178 26.7678C10.0489 27.2366 9.41304 27.5 8.75 27.5C8.08696 27.5 7.45107 27.2366 6.98223 26.7678C6.51339 26.2989 6.25 25.663 6.25 25C6.25 23.6125 7.3625 22.5 8.75 22.5ZM20 13.75L23.475 7.5H7.675L10.625 13.75H20Z"
            />
          </svg>
          <p>カート</p>
        </a>
      </li>
      <li class="li menu_sp">
        <div id="hamb_sp"><span></span><span></span><span></span></div>
        <p id="menu_text">メニュー</p>
      </li>
    </ul>

    <ul id="nav_sp">
      <div class="menu_wrap">
        <li class="li"><a href="index.html">TOP</a></li>
        <li class="li">
          <a href="about.html">Tropical Pork Houseについて</a>
        </li>
        <li class="li">
          <a href="item-list.html">商品一覧</a>
        </li>
        <li class="li">
          <a href="faq.html">よくあるご質問</a>
        </li>
        <li class="li">
          <a href="contact.html">お問い合わせ</a>
        </li>

        <li class="li li_main">
          <ul>
            <li class="li_sub">
              <a href="/account"
                ><img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_login.svg" alt="" />ログイン</a
              >
            </li>
            <li class="li_sub">
              <a href="/cart"
                ><img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_cart.svg" alt="" />カート</a
              >
            </li>
          </ul>
        </li>
      </div>
    </ul>
  </div>
</div>
<!-- SP header end -->