<div class="bg_main">
  <picture
    ><source srcset="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/bg_main.jpg" media="(min-width:600px)" />
    <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/bg_main_sp_under.jpg" alt=""
  /></picture>
</div>
<div class="under_fv">
  <div class="inner">
    <h2 data-aos="fade">
      特定商取引法に基づく表記<span class="text_deco">Terms.</span>
    </h2>
  </div>
</div>
<section id="company" class="under_wrappar">
  <div class="p-terms_wrap inner_small">
    <table>
      <tr>
        <th>販売業者</th>
        <td>有限会社 宜野湾食肉加工場</td>
      </tr>
      <tr>
        <th>運営統括責任者</th>
        <td>宇良 圭佑</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒901-2204 沖縄県宜野湾市上原 1-3-18</td>
      </tr>
      <tr>
        <th>TEL</th>
        <td>
          <a href="tel:098-892-3539">098-892-3539</a>
        </td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>g-meat.toshiaki@joy.ocn.ne.jp</td>
      </tr>
      <tr>
        <th>取扱商品</th>
        <td>食肉</td>
      </tr>
      <tr>
        <th>販売価格</th>
        <td>各商品ページをご参照ください。</td>
      </tr>
      <tr>
        <th>商品代金以外の<br class="is_pc" />必要料金</th>
        <td>販売価格とは別に送料が発生します</td>
      </tr>
      <tr>
        <th>送料について</th>
        <td><span>テキスト</span></td>
      </tr>
      <tr>
        <th>申し込みの有効期限</th>
        <td>
          ご注文後7日以内といたします。ご注文後７日間ご入金がない場合は、購入の意思がないものとし、注文を自動的にキャンセルとさせていただきます。
        </td>
      </tr>
      <tr>
        <th>不良品</th>
        <td>
          商品到着後速やかにご連絡ください。商品に欠陥がある場合を除き、返品には応じかねますのでご了承ください。
        </td>
      </tr>
      <tr>
        <th>販売数量</th>
        <td>各商品ページにてご確認ください。</td>
      </tr>
      <tr>
        <th>引き渡し時期</th>
        <td>ご注文を受けてから5営業日以内に発送いたします。</td>
      </tr>
      <tr>
        <th>お支払い方法</th>
        <td>クレジットカード</td>
      </tr>
      <tr>
        <th>返品・交換について</th>
        <td>
          お客様都合による返品につきましてはお客様のご負担とさせていただきます。不良品に該当する場合は当方で負担いたします。
        </td>
      </tr>
    </table>
  </div>
  <!-- p-terms_wrap -->
</section>