
<div class="under_fv">
  <div class="inner">
    <h2 data-aos="fade">
      お問い合わせ<span class="text_deco">Contact.</span>
    </h2>
  </div>
</div>
<section id="contact">
  <div class="tel inner">
    <h3 class="under_title">お電話から</h3>
    <div class="cta_tel">
      <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_tel.svg" alt="電話番号" />
      <a href="tel:098-892-3539">098-892-3539</a>
    </div>
    <p>【営業時間】平日：AM8時〜PM5時</p>
  </div>
  <div class="form under_wrappar">
    <div class="inner_small">
      <h3 class="under_title">フォームから</h3>

      <div class="p-contact_wrap">
        <div class="form_wrap">
          {% section 'contact-form' %}
        </div>
      </div>
      <!-- p-contact_wrap -->
    </div>
    <!-- inner_small -->
  </div>
</section>