
      <div id="fv_about">
        <div class="inner">
          <h2 data-aos="fade">Tropical Pork Houseについて</h2>
          <p class="text_deco">About</p>
        </div>
      </div>
      <section id="about_top" class="inner" data-aos="fade-up">
        <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/fv_logo.png" alt="Tropical Pork House Okinawa" />
        <h3>
          オキナワで生まれた<br />
          トロピカルな豚肉専門店です。
        </h3>
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </section>
      <div class="img_sec" data-aos="fade-up">
        <picture
          ><source
            srcset="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_img_sec1.png"
            media="(min-width:600px)" />
          <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_img_sec1_sp.png" alt=""
        /></picture>
      </div>
      <section id="about_pickup" class="inner" data-aos="fade-up">
        <div class="wrappar">
          <h3 class="text_deco">Pick up.</h3>
          <div class="inner_small">
            <div class="top">
              <span><img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_pickup_img1.png" alt="" /></span>
              <h4>オキナワ生まれオキナワ育ち<br />パイナップルポーク</h4>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </div>

            <div class="ctn" data-aos="fade">
              <div class="ctt_img">
                <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_pickup_img2.png" alt="" />
              </div>
              <div class="ctt">
                <h5>パイナップルポークとは？</h5>
                <p>
                  「安全で美味しい、沖縄県産の豚肉を食べてもらいたい」という養豚農家「神谷ファーム」とお肉屋さん「カネマサミート」の想いから生まれた、沖縄生まれ沖縄育ちのブランド豚です。乾燥させたパイナップルを配合した飼料を食べて育った豚であることから、パイナップルポークと名付けられました。
                </p>
              </div>
            </div>
            <div class="ctn" data-aos="fade">
              <div class="ctt_img">
                <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_pickup_img3.png" alt="" />
              </div>
              <div class="ctt">
                <h5>パイナップルポークのこだわり飼育</h5>
                <p>
                  乾燥させたパイナップルを独自配合した飼料は、パイン酵素の働きにより、肉質をより柔らかくしています。さらに、飲料水には糸満市（いとまんし）沖からくみ上げる天然の海洋深層水を使用し、一般豚より1～2か月程長く丁寧に飼育することで、よりしっかりした旨みを引き出しています。
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="wrappar">
          <div class="feature" data-aos="fade">
            <h5>お肉の特徴<span class="text_deco">Feature.</span></h5>
            <div class="ctn">
              <div class="ctt_ttl">
                <h6>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_feature_1.png"
                    alt="真っ白でヘルシーな脂身"
                  />
                </h6>
              </div>
              <div class="ctt">
                <p>
                  パイナップルポークは一般豚と比べるとカロリーや脂質が1～2割少なく、さっぱりとした味わいです。白くきめ細やかで甘みのある脂身が、パイナップルポークの美味しさの秘密です。
                </p>
              </div>
            </div>
            <div class="ctn">
              <div class="ctt_ttl">
                <h6>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_feature_2.png"
                    alt="やわらくてジューシー"
                  />
                </h6>
              </div>
              <div class="ctt">
                <p>
                  独自のパイナップル配合飼料を与えることで、やわらかくジューシーな味わいのパイナップルポークは、旨み成分であるアミノ酸成分（ロイシン、リジン、グルタミン酸）が多く含まれており、しっかりした豚肉の味をお楽しみいただけます。
                </p>
              </div>
            </div>
            <div class="ctn">
              <div class="ctt_ttl">
                <h6>
                  <picture
                    ><source
                      srcset="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_feature_3.png"
                      media="(min-width:600px)" />
                    <img
                      src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_feature_3_sp.png"
                      alt="ビタミンB1が豊富"
                  /></picture>
                </h6>
              </div>
              <div class="ctt">
                <p>
                  食品の中でビタミンB1が最も豊富に含まれているのが豚肉です。その中でもパイナップルポークに含まれるビタミンB1は一般豚の1.5倍と群を抜いています。ビタミンB1は炭水化物をエネルギーに変える性質をもっており、疲労回復に効能があるとされています。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="img_sec img_sec2" data-aos="fade-up">
        <picture
          ><source
            srcset="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_img_sec2.png"
            media="(min-width:600px)" />
          <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/about_img_sec2_sp.png" alt=""
        /></picture>
      </div>

      <section id="lineup_2" data-aos="fade-up">
        <div class="inner">
          <h3 class="text_deco">Line up.</h3>
          <div
            class="product_wrap"
            data-simplebar
            data-simplebar-auto-hide="false"
          >
          {% section 'lineup-section' %}
          </div>
          <div class="btn">
            <a href="/collections/all"
              >商品一覧
              <div class="arrow">
                <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_arrow.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
        <!-- inner -->
      </section>